.header-text{
    padding: 20px;
    margin-left: 30px;
}
.text-color{
    color:rgba(48, 0, 205, 0.904);
}
.learn-more-btn{
    border: 0;
    background: linear-gradient(rgba(21, 0, 205, 0.575), rgba(69, 53, 177, 0.897));
    color: white;
    border-radius: 4px;
    padding: 6px 18px;
}
.font-style{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}