.image-size img{
    width: 200px;
}
.div-card{
    margin: 7px;
    padding: 7px;
    border-radius: 5px;
    width: 600px;
}

@media(max-width: 320px){
    .image-size img{
        width: 100%;
    }
}

@media(max-width: 320px){
    .div-card{
        width: 100%;
    }
}